

body{
	background: linear-gradient(290deg, #95f2ee, #666b6a);
	background-size: 400% 400%;

-webkit-animation: body 6s ease infinite;
-moz-animation: body 6s ease infinite;
animation: body 6s ease infinite;
}
@-webkit-keyframes body {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
}
@-moz-keyframes body{
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
}
@keyframes body{
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
}

.image-start{
    border-bottom: thick dotted black;
}

.myMenu .image-start:hover{ 
	border-bottom: thick dotted white;
}

.image-back-to-menu{
    border-bottom: thick dotted black;
    position: relative; 
    top: -100px; 
    margin-right: auto; 
    margin-left: auto; 
}

.image-back-to-menu:hover{ 
	border-bottom: thick dotted white;
}

.image-instructions{
    border-bottom: thick dotted black;
}

.myMenu .image-instructions:hover{ 
	border-bottom: thick dotted white;
}

.image-exit{
    border-bottom: thick dotted black;
}

.myMenu .image-exit:hover{ 
	border-bottom: thick dotted white;
}

.myMenu { 
    width: 700px;
    height: 600px;
    border-style: solid;
    border-width: 5px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: black;
    text-align: center; 
    box-shadow: 10px 10px 5px #888888;

}

.myMenu-instruction{
	width: 900px; 
    height: 700px;
    border-style: solid;
    border-width: 5px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: black;
    text-align: center; 
    box-shadow: 10px 10px 5px #888888;
}

.myMenu .main-menu-logo { 
	margin-left: auto; 
    margin-right: auto;
}

.row.extra-bottom-padding{
margin-bottom: 20px; 
}

.instructions { 
	color: white; 
}

